html {
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container {
    height: 400px;
    width: 550px;
    background-color:cadetblue;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px black;
    -moz-box-shadow: 2px 2px 10px 0px black;
    -webkit-box-shadow: 2px 2px 10px 0px black;
    position: relative;
}

#score{
    background-color: #fff;
    padding: 11px;
    position: absolute;
    left: 500px;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
}

#correct {
    position: absolute;
    left: 260px; 
    background-color: chartreuse;
    color: white;
    padding: 11px;
    display: none;
}

#wrong {
    position: absolute;
    left: 250px; 
    background-color: deeppink;
    color: white;
    padding: 11px;
    display: none;
}

#question{
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: lightgrey;
    box-shadow: 2px 2px 2px;
    -moz-box-shadow: 2px 2px 2px;
    -webkit-box-shadow: 2px 2px 2px;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
}

#instruction {
    width: 450px;
    height: 50px;
    background-color:palevioletred;
    color: white;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
}

#choices{
    height: 100px;
    width: 450px;
    margin: 5px auto;
}

.box {
    width: 85px;
    height: 85px;
    background-color: whitesmoke;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px;
    text-align: center;
    line-height: 80px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
#box4 {
    margin-right: 0px;
}

.box:hover, #startreset:hover {
    background-color: darkslateblue;
    color: white;
    box-shadow: 4px 4px 4px black;
    -moz-box-shadow: 4px 4px 4px black;
    -webkit-box-shadow: 4px 4px 4px black;
}

.box:active, #startreset:active{
    box-shadow: 0px 0px darkslateblue;
    top: 4px;

}

#startreset {
    width: 85px;
    padding: 10px;
    background-color:mediumslateblue;
    margin: 0px auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px;
    text-align: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

#timeremaining {
    width: 160px;
    padding: 10px;
    position: absolute;
    top: 395px;
    left: 400px;
    background-color:palevioletred;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
    /* visibility: hidden; */
    display: none;
}

#gameover {
    height: 200px;
    width: 500px;
    background: linear-gradient(rgb(123, 5, 196), rgb(3, 3, 172));
    box-shadow: 4px 4px 5px black;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
}